/*-------Ex. For ScrollBy , ScrollTo -------*/
/*
body {
	
	width: 4000px;
	height: 4000px;

}

button {
	
	position: fixed;
	top: 10px;
	left: 10px;
}
*/

/*-------Ex. For pageXOffset & pageYOffset -------*/
/*
body {
	
	width: 4000px;
	height: 4000px;

}
*/

/*-------Ex. For href , Hash , Host -------*/
/*
div {
	
	height: 2000px;

}
*/